/* Обуляем стили */
@import url(../../vendor/normalize.css);

/* Подключаем шрифты */
@import url(../../vendor/fonts.css);

/* Root */
@import url(../../blocks/body/body.css);
@import url(../../blocks/root/root.css);

a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

/* Хедер */
@import url(../../blocks/header/header.css);

/* Секции */
@import url(../../blocks/info/info.css);
@import url(../../blocks/results/results.css);

/* Футер */
@import url(../../blocks/footer/footer.css);

/* Общие */
  @import url(../../blocks/btn/btn.css);
  @import url(../../blocks/unvisible/unvisible.css);
  @import url(../../blocks/unvisible/visible.css);
