.bookmark__icon {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  outline: none;
  border: none;
  fill: #ffffff;
  stroke: #B6BCBF;
}

.bookmark__icon:hover {
  fill: #ffffff;
  stroke: #000000;
}

.bookmark__icon:hover+.bookmark__tip {
  display: flex;
}


