.no-results__error-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 1.625rem;
  background-image: 1.875rem;
  padding-top: 31px;
  padding-bottom: 16px;
}