.header__menu {
  display: flex;
  padding-right: 106px;
  transition: all .2s ease 0s;
  z-index: 0;
}

@media screen and (max-width: 1023px) {
  .header__menu {
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    position: absolute;
    flex-direction: column;
    top: -321px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
    padding-right: 0px;
  }
}
