.results__preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

@import url(./__icon/preloader__icon.css);
@import url(./__message/preloader__message.css);
