/* @import url(./_show/popup_show.css); */
@import url(./__body/popup__body.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__field/popup__field.css);
@import url(./__input-name/popup__input-name.css);
@import url(./__input/popup__input.css);
@import url(./__error/popup__error.css);
@import url(./__btn/popup__btn.css);
@import url(./__alternative/popup__alternative.css);
@import url(./__link/popup__link.css);
@import url(./__in/popup__in.css);

.popup {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.popup_show {
  display: flex;
}